// Front
[cube^="0"] {
  .cube-front {
    background-color: $black;
  }
  .cube-back {
    background-color: $white;
  }
}
[cube="000"] {
    .cube-top {
        background-color: $red;
    }
    .cube-left {
        background-color: $yellow;
    }
}
[cube="001"] {
    .cube-top {
        background-color: $red;
    }
}
[cube="002"] {
    .cube-left {
        background-color: $red;
    }
    .cube-top {
        background-color: $green;
    }
}
[cube="010"] {
    .cube-top {
        background-color: $yellow;
    }
}
[cube="011"] {

}
[cube="012"] {
    .cube-top {
        background-color: $green;
    }
}
[cube="020"] {
    .cube-top {
        background-color: $yellow;
    }
    .cube-left {
        background-color: $orange;
    }
}
[cube="021"] {
    .cube-top {
        background-color: $orange;
    }
}
[cube="022"] {
    .cube-left {
        background-color: $green;
    }
    .cube-top {
        background-color: $orange;
    }
}

// Middle
[cube="100"] {
    .cube-top {
        background-color: $red;
    }
    .cube-back {
        background-color: $yellow;
    }
}
[cube="101"] {
    .cube-back {
        background-color: $red;
    }
}
[cube="102"] {
    .cube-top {
        background-color: $green;
    }
    .cube-back {
        background-color: $red;
    }
}
[cube="110"] {
    .cube-back {
        background-color: $yellow;
    }
}
[cube="111"] {

}
[cube="112"] {
    .cube-back {
        background-color: $green;
    }
}
[cube="120"] {
    .cube-top {
        background-color: $yellow;
    }
    .cube-back {
        background-color: $orange;
    }
}
[cube="121"] {
    .cube-back {
        background-color: $orange;
    }
}
[cube="122"] {
    .cube-back {
        background-color: $green;
    }
    .cube-top {
        background-color: $orange;
    }
}

// Top
[cube="200"] {
    .cube-top {
        background-color: $blue;
    }
    .cube-back {
        background-color: $red;
    }
    .cube-left {
        background-color: $yellow;
    }
}
[cube="201"] {
    .cube-top {
        background-color: $blue;
    }
    .cube-back {
        background-color: $red;
    }
}
[cube="202"] {
    .cube-top {
        background-color: $blue;
    }
    .cube-left {
        background-color: $red;
    }
    .cube-back {
        background-color: $green;
    }
}
[cube="210"] {
    .cube-back {
        background-color: $blue;
    }
    .cube-top {
        background-color: $yellow;
    }
}
[cube="211"] {
    .cube-back {
        background-color: $blue;
    }
}
[cube="212"] {
    .cube-back {
        background-color: $blue;
    }
    .cube-top {
        background-color: $green;
    }
}
[cube="220"] {
    .cube-top {
        background-color: $blue;
    }
    .cube-back {
        background-color: $yellow;
    }
    .cube-left {
        background-color: $orange;
    }
}
[cube="221"] {
    .cube-back {
        background-color: $blue;
    }
    .cube-top {
        background-color: $orange;
    }
}
[cube="222"] {
    .cube-top {
        background-color: $blue;
    }
    .cube-left {
        background-color: $green;
    }
    .cube-back {
        background-color: $orange;
    }
}
