$main: #14B8E3;
$second: #41617A;
$third: #74A5CC;
$font: #42484C;
$font-secondary: #6F787F;
$font-size: 15px;
$white: #fffffe;
$shadow-color: rgba(0,0,0,0.2);
$shadow-color-dark: rgba(0,0,0,0.2);
$shadow:5px 2px 4px $shadow-color;
